{% extends "layout.html" %}

{% block heading %}
NOTES
{% endblock %}

{% block body %}

      <ul>
        {% for note in notes %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>



      <form action="{{ url_for('index') }}" method ="post">
        <input type="text" name="note" placeholder="Enter note here">
        <button>Add Note</button>
      </form>
{% endblock %}




<!--
<!DOCTYPE html>
<html>
    <head>
      <title>My website!</title>
    </head>

    <body>
      <form action="{{ url_for('hello') }}" method ="post">
        <input type="text" name="name" placeholder="Enter your name">
        <button>Submit</button>
      </form>

    </body>
</html> -->
